name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build-and-publish:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          ghcr.io/cloudfoundry/${{ github.event.repository.name }}
        tags: |
          type=semver,pattern={{version}}
          type=ref,event=branch
    - name: Authenticate to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and Publish image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        platforms: linux/amd64,linux/arm64
    - name: Package and Publish Helm Chart
      run: |
        TAG=${{ github.ref_name }}
        VERSION=${TAG#v}
        CHART_NAME=$(helm show chart ./helm | grep '^name:' | awk '{print $2}')
        helm package ./helm --version $VERSION --app-version $VERSION -d ${{ runner.temp }}
        helm push ${{ runner.temp }}/$CHART_NAME-$VERSION.tgz oci://ghcr.io/cloudfoundry/helm/
